body{
    display: flex;
    justify-content: space-between;
}

.city-search{
    display: flex;
    width: 15em;
    flex-direction: column;
    padding: .3em;
}

.search-results{
    display: inline-block;
    width: 30%;
}

.search-results{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 1 50%;
}

/* make the first result the full row and have different formatting */
.current-weather {
    flex: 1 1 100%;
    position: relative;
    background-color: white;
    color: black;
    line-height: 2em;
    border: 1px solid black;
    border-radius: .5em;
    margin: .5%;
    padding: .5em;
}


.current-weather h2{
    font-size: 2em;
}

/* make the next 5 result fit in a row */
.search-results .weather-result {
    flex: 1 1 19%;
    position: relative;
    background-color: blue;
    color: white;
    border: 1px solid black;
    margin: .5%;
    padding: .5em;
    border-radius: .5em;
    height: 15em;
    line-height: 2em;
}

.search-results .weather-result {
}

.uvi{
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 2px;
}
/* uvi color coding */
.low-uvi {
    background-color: green;
    color: white;
}

.med-uvi {
    background-color: orange;
    color: white;
}

.high-uvi {
    background-color: red;
    color: white;
}

.search-history{
    display: flex;
    flex-direction: column;
    margin-top: .5em;
    border-top: 1px solid black;
}

.city-search button{
    margin-top: .5em;
    padding: .2em;
    border-radius: .5em;
    border: none;
    background-color: lightgray;
}


#search {
    background-color: blue;
    color: white;
    border: none;
    
}

button:active  {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
  }

  #search:active {
    background: rgb(0, 102, 255);
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
  }

  #search:disabled{
      background-color: lightgrey;
  }